
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: contain;
  }
  .floorMatCardDiv {
    display: inline-flex;
    padding: 10px;
    background: inherit;
    margin: auto;
  }

  mat-grid-tile {
    background:lightskyblue;
  }

  .example-card {
    width: 360px;
    height: auto;
    margin: auto;
    background: #C90415;
  }

  .example-card1 {
    width: 250px;
    height: auto;
    background:#C90415;
  }