<div sty>
    <div style="background-color:#303030;padding: 20px;margin: auto;">
        <mat-card style="width: auto;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Santhosh Mens PG</mat-card-title>
                <mat-card-subtitle>Santhosh Goud Manda</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PG Details
                </mat-panel-title>
                <mat-panel-description>
                    Get your PG details here
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="floorMatCardDiv">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Floor - 1</mat-card-title>
                        <mat-card-subtitle>Santhosh Men's PG</mat-card-subtitle>
                    </mat-card-header>
                    <mat-grid-list cols="3" rowHeight="1:1">
                        <mat-grid-tile style="background:red;">101</mat-grid-tile>
                        <mat-grid-tile>102</mat-grid-tile>
                        <mat-grid-tile style="background:lawngreen;">103</mat-grid-tile>
                        <mat-grid-tile>104</mat-grid-tile>
                        <mat-grid-tile>105</mat-grid-tile>
                        <mat-grid-tile style="background:orange;">106</mat-grid-tile>
                        <mat-grid-tile>107</mat-grid-tile>
                        <mat-grid-tile>108</mat-grid-tile>
                        <mat-grid-tile>109</mat-grid-tile>
                    </mat-grid-list>
                    <mat-card-content>
                        <p>
                            Floor 1
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="floorMatCardDiv">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Floor - 2</mat-card-title>
                        <mat-card-subtitle>Santhosh Men's PG</mat-card-subtitle>
                    </mat-card-header>
                    <mat-grid-list cols="3" rowHeight="1:1">
                        <mat-grid-tile>201</mat-grid-tile>
                        <mat-grid-tile>202</mat-grid-tile>
                        <mat-grid-tile>203</mat-grid-tile>
                        <mat-grid-tile>204</mat-grid-tile>
                        <mat-grid-tile>205</mat-grid-tile>
                        <mat-grid-tile>206</mat-grid-tile>
                    </mat-grid-list>
                    <mat-card-content>
                        <p>
                            Floor 2
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="floorMatCardDiv">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Floor - 3</mat-card-title>
                        <mat-card-subtitle>Santhosh Men's PG</mat-card-subtitle>
                    </mat-card-header>
                    <mat-grid-list cols="3" rowHeight="1:1">
                        <mat-grid-tile>301</mat-grid-tile>
                        <mat-grid-tile>302</mat-grid-tile>
                        <mat-grid-tile>303</mat-grid-tile>
                        <mat-grid-tile>304</mat-grid-tile>
                        <mat-grid-tile>305</mat-grid-tile>
                        <mat-grid-tile>306</mat-grid-tile>
                        <mat-grid-tile>307</mat-grid-tile>
                        <mat-grid-tile>308</mat-grid-tile>
                        <mat-grid-tile>309</mat-grid-tile>
                        <mat-grid-tile>310</mat-grid-tile>
                    </mat-grid-list>
                    <mat-card-content>
                        <p>
                            Floor 3
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-expansion-panel>
    </div>
</div>