<div class="register-container">
  <div class="register-form">
    <form [formGroup]="RegisterForm">
      <mat-tab-group>
        <mat-tab label="Personal Details">
          <ng-template matTabContent>
            Content 1 - Loaded
          </ng-template>
        </mat-tab>
        <mat-tab label="Address Details">
          <ng-template matTabContent>
            <section class="AddressGrid">
            <div class="card" formGroupName="presentaddress">
              <mat-label>Present Address</mat-label>
              <br>
              <mat-form-field>
                <input formControlName="Address1" matInput placeholder="Address1*">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="Address2" matInput placeholder="Address2*">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="Address3" matInput placeholder="Address3">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="LandMark" matInput placeholder="LandMark">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="City" matInput placeholder="City*">
              </mat-form-field>
              <br>
                <mat-form-field>
                  <input formControlName="State" matInput placeholder="State*">
                </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="Pincode"    matInput placeholder="Pincode*">
              </mat-form-field>
              <br>
              <div *ngIf="RegisterForm.get('presentaddress').valid">
                <mat-checkbox  (change)="CopyAddress()" [formControl]="isSameAddressControl">Copy Permanent address same as Present address	</mat-checkbox>
              </div>
            </div>
            <div class="card" formGroupName="permanentaddress">
              <mat-label>Permanent Address</mat-label>
              <br>
              <mat-form-field>
                <input formControlName="Address1" matInput placeholder="Address1*">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="Address2" matInput placeholder="Address2*">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="Address3" matInput placeholder="Address3">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="LandMark" matInput placeholder="LandMark">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="City" matInput placeholder="City*">
              </mat-form-field>
              <br>
                <mat-form-field>
                  <input formControlName="State" matInput placeholder="State*">
                </mat-form-field>
              <br>
              <mat-form-field>
                <input formControlName="Pincode"  matInput placeholder="Pincode*">
              </mat-form-field>
            </div>
          </section>
          </ng-template>
        </mat-tab>
        <mat-tab label="Personal Details 3">
          <ng-template matTabContent>
            Content 3 - Loaded
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>