<div class="register-container">
    <div class="register-form">
      <form [formGroup]="registerForm">
        <mat-tab-group>
            <mat-tab label="Personal Details">
              <ng-template matTabContent>
                <div formGroupName="personalDetails" class="personal-container">
                  <div class="personal-section1">
                    <mat-form-field class="width100">
                      <mat-label>First Name*</mat-label>
                      <input matInput placeholder="Ex. Pizza" formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field class="width100">
                      <mat-label>Gender*</mat-label>
                      <input matInput placeholder="Ex. Pizza" formControlName="gender">
                    </mat-form-field>
                  </div>
                  <div class="personal-section2">
                    <mat-form-field class="width100">
                      <mat-label>Last Name*</mat-label>
                      <input matInput placeholder="Ex. Pizza" formControlName="lastName">
                    </mat-form-field>

                    <mat-form-field class="width100">
                      <mat-label>Date of Birth*</mat-label>
                      <input matInput placeholder="Ex. Pizza" formControlName="dob">
                    </mat-form-field>
                  </div>
                  <div class="personal-section3">
                    <mat-form-field class="width100">
                      <mat-label>Middle Name *</mat-label>
                      <input matInput placeholder="Ex. Pizza" formControlName="middleName">
                    </mat-form-field>

                    <mat-form-field class="width100">
                      <mat-label>Martial Status*</mat-label>
                      <input matInput placeholder="Ex. Pizza" formControlName="martialStatus">
                    </mat-form-field>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Personal Details 2">
              <ng-template matTabContent>
                Content 2 - Loaded
              </ng-template>
            </mat-tab>
            <mat-tab label="Personal Details 3">
              <ng-template matTabContent>
                Content 3 - Loaded
              </ng-template>
            </mat-tab>
          </mat-tab-group>
      </form>
    </div>
</div>

