<div class="register-container">
  <div class="register-form">
    <form [formGroup]="registerForm">
      <mat-tab-group>
        <mat-tab label="Personal Details">
          <ng-template matTabContent>
            <br>
            <div style="padding-left: 30%;padding-right: 30%;">
              <mat-form-field class="width100">
                <mat-label>Register as: *</mat-label>
                <mat-select formControlName="registerAs">
                  <mat-option [value]=0>
                    Owner
                  </mat-option>
                  <mat-option [value]=1>
                    Tenant
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br>
            <div formGroupName="personalDetails" class="personal-container" *ngIf="registerForm.get('registerAs').valid">
              <div class="personal-section1">
                <mat-form-field class="width100">
                  <mat-label>First Name*</mat-label>
                  <input matInput placeholder="Ex : Subhash" formControlName="firstName">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Gender*</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders | async" [value]="gender.gender">
                      {{gender.gender}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Differently Abled*</mat-label>
                  <mat-select formControlName="diffAbled">
                    <mat-option [value]="true">
                      Yes
                    </mat-option>
                    <mat-option [value]="false">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Email 1*</mat-label>
                  <input matInput placeholder="Ex : michealjackson@gmail.com" formControlName="email1">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Religion*</mat-label>
                  <mat-select formControlName="religion">
                    <mat-option *ngFor="let religion of religions | async" [value]="religion.religion">
                      {{religion.religion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Aadhar No*</mat-label>
                  <input matInput placeholder="Ex: 987654321098" formControlName="aadharNo">
                </mat-form-field>
              </div>
              <div class="personal-section2">
                <mat-form-field class="width100">
                  <mat-label>Last Name*</mat-label>
                  <input matInput placeholder="Ex : Bose" formControlName="lastName">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Date of Birth*</mat-label>
                  <input matInput [matDatepicker]="dob" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                  <mat-datepicker #dob></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Mobile 1*</mat-label>
                  <input matInput placeholder="Ex. 9876543210" formControlName="mobile1" maxlength="10">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Email 2</mat-label>
                  <input matInput placeholder="Ex : michealjackson@gmail.com" formControlName="email2">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Nationality*</mat-label>
                  <mat-select formControlName="nationality">
                    <mat-option [value]=0>Indian</mat-option>
                    <mat-option [value]=1>Afghan</mat-option>
                    <mat-option [value]=2>Albanian</mat-option>
                    <mat-option [value]=3>Algerian</mat-option>
                    <mat-option [value]=4>American</mat-option>
                    <mat-option [value]=5>Andorran</mat-option>
                    <mat-option [value]=6>Angolan</mat-option>
                    <mat-option [value]=7>Antiguans</mat-option>
                    <mat-option [value]=8>Argentinean</mat-option>
                    <mat-option [value]=9>Armenian</mat-option>
                    <mat-option [value]=10>Australian</mat-option>
                    <mat-option [value]=11>Austrian</mat-option>
                    <mat-option [value]=12>Azerbaijani</mat-option>
                    <mat-option [value]=13>Bahamian</mat-option>
                    <mat-option [value]=14>Bahraini</mat-option>
                    <mat-option [value]=15>Bangladeshi</mat-option>
                    <mat-option [value]=16>Barbadian</mat-option>
                    <mat-option [value]=17>Barbudans</mat-option>
                    <mat-option [value]=18>Batswana</mat-option>
                    <mat-option [value]=19>Belarusian</mat-option>
                    <mat-option [value]=20>Belgian</mat-option>
                    <mat-option [value]=21>Belizean</mat-option>
                    <mat-option [value]=22>Beninese</mat-option>
                    <mat-option [value]=23>Bhutanese</mat-option>
                    <mat-option [value]=24>Bolivian</mat-option>
                    <mat-option [value]=25>Bosnian</mat-option>
                    <mat-option [value]=26>Brazilian</mat-option>
                    <mat-option [value]=27>British</mat-option>
                    <mat-option [value]=28>Bruneian</mat-option>
                    <mat-option [value]=29>Bulgarian</mat-option>
                    <mat-option [value]=30>Burkinabe</mat-option>
                    <mat-option [value]=31>Burmese</mat-option>
                    <mat-option [value]=32>Burundian</mat-option>
                    <mat-option [value]=33>Cambodian</mat-option>
                    <mat-option [value]=34>Cameroonian</mat-option>
                    <mat-option [value]=35>Canadian</mat-option>
                    <mat-option [value]=36>Cape Verdean</mat-option>
                    <mat-option [value]=37>Central African</mat-option>
                    <mat-option [value]=38>Chadian</mat-option>
                    <mat-option [value]=39>Chilean</mat-option>
                    <mat-option [value]=40>Chinese</mat-option>
                    <mat-option [value]=41>Colombian</mat-option>
                    <mat-option [value]=42>Comoran</mat-option>
                    <mat-option [value]=43>Congolese</mat-option>
                    <mat-option [value]=44>Costa Rican</mat-option>
                    <mat-option [value]=45>Croatian</mat-option>
                    <mat-option [value]=46>Cuban</mat-option>
                    <mat-option [value]=47>Cypriot</mat-option>
                    <mat-option [value]=48>Czech</mat-option>
                    <mat-option [value]=49>Danish</mat-option>
                    <mat-option [value]=50>Djibouti</mat-option>
                    <mat-option [value]=51>Dominican</mat-option>
                    <mat-option [value]=52>Dutch</mat-option>
                    <mat-option [value]=53>East Timorese</mat-option>
                    <mat-option [value]=54>Ecuadorean</mat-option>
                    <mat-option [value]=55>Egyptian</mat-option>
                    <mat-option [value]=56>Emirian</mat-option>
                    <mat-option [value]=57>Equatorial Guinean</mat-option>
                    <mat-option [value]=58>Eritrean</mat-option>
                    <mat-option [value]=59>Estonian</mat-option>
                    <mat-option [value]=60>Ethiopian</mat-option>
                    <mat-option [value]=61>Fijian</mat-option>
                    <mat-option [value]=62>Filipino</mat-option>
                    <mat-option [value]=63>Finnish</mat-option>
                    <mat-option [value]=64>French</mat-option>
                    <mat-option [value]=65>Gabonese</mat-option>
                    <mat-option [value]=66>Gambian</mat-option>
                    <mat-option [value]=67>Georgian</mat-option>
                    <mat-option [value]=68>German</mat-option>
                    <mat-option [value]=69>Ghanaian</mat-option>
                    <mat-option [value]=70>Greek</mat-option>
                    <mat-option [value]=71>Grenadian</mat-option>
                    <mat-option [value]=72>Guatemalan</mat-option>
                    <mat-option [value]=73>Guinea-Bissauan</mat-option>
                    <mat-option [value]=74>Guinean</mat-option>
                    <mat-option [value]=75>Guyanese</mat-option>
                    <mat-option [value]=76>Haitian</mat-option>
                    <mat-option [value]=77>Herzegovinian</mat-option>
                    <mat-option [value]=78>Honduran</mat-option>
                    <mat-option [value]=79>Hungarian</mat-option>
                    <mat-option [value]=80>Icelander</mat-option>
                    <mat-option [value]=81>Indonesian</mat-option>
                    <mat-option [value]=82>Iranian</mat-option>
                    <mat-option [value]=83>Iraqi</mat-option>
                    <mat-option [value]=84>Irish</mat-option>
                    <mat-option [value]=85>Israeli</mat-option>
                    <mat-option [value]=86>Italian</mat-option>
                    <mat-option [value]=87>Ivorian</mat-option>
                    <mat-option [value]=88>Jamaican</mat-option>
                    <mat-option [value]=89>Japanese</mat-option>
                    <mat-option [value]=90>Jordanian</mat-option>
                    <mat-option [value]=91>Kazakhstani</mat-option>
                    <mat-option [value]=92>Kenyan</mat-option>
                    <mat-option [value]=93>Kittian and Nevisian</mat-option>
                    <mat-option [value]=94>Kuwaiti</mat-option>
                    <mat-option [value]=95>Kyrgyz</mat-option>
                    <mat-option [value]=96>Laotian</mat-option>
                    <mat-option [value]=97>Latvian</mat-option>
                    <mat-option [value]=98>Lebanese</mat-option>
                    <mat-option [value]=99>Liberian</mat-option>
                    <mat-option [value]=100>Libyan</mat-option>
                    <mat-option [value]=101>Liechtensteiner</mat-option>
                    <mat-option [value]=102>Lithuanian</mat-option>
                    <mat-option [value]=103>Luxembourger</mat-option>
                    <mat-option [value]=104>Macedonian</mat-option>
                    <mat-option [value]=105>Malagasy</mat-option>
                    <mat-option [value]=106>Malawian</mat-option>
                    <mat-option [value]=107>Malaysian</mat-option>
                    <mat-option [value]=108>Maldivan</mat-option>
                    <mat-option [value]=109>Malian</mat-option>
                    <mat-option [value]=110>Maltese</mat-option>
                    <mat-option [value]=111>Marshallese</mat-option>
                    <mat-option [value]=112>Mauritanian</mat-option>
                    <mat-option [value]=113>Mauritian</mat-option>
                    <mat-option [value]=114>Mexican</mat-option>
                    <mat-option [value]=115>Micronesian</mat-option>
                    <mat-option [value]=116>Moldovan</mat-option>
                    <mat-option [value]=117>Monacan</mat-option>
                    <mat-option [value]=118>Mongolian</mat-option>
                    <mat-option [value]=119>Moroccan</mat-option>
                    <mat-option [value]=120>Mosotho</mat-option>
                    <mat-option [value]=121>Motswana</mat-option>
                    <mat-option [value]=122>Mozambican</mat-option>
                    <mat-option [value]=123>Namibian</mat-option>
                    <mat-option [value]=124>Nauruan</mat-option>
                    <mat-option [value]=125>Nepalese</mat-option>
                    <mat-option [value]=126>New Zealander</mat-option>
                    <mat-option [value]=127>Ni-Vanuatu</mat-option>
                    <mat-option [value]=128>Nicaraguan</mat-option>
                    <mat-option [value]=129>Nigerien</mat-option>
                    <mat-option [value]=130>North Korean</mat-option>
                    <mat-option [value]=131>Northern Irish</mat-option>
                    <mat-option [value]=132>Norwegian</mat-option>
                    <mat-option [value]=133>Omani</mat-option>
                    <mat-option [value]=134>Pakistani</mat-option>
                    <mat-option [value]=135>Palauan</mat-option>
                    <mat-option [value]=136>Panamanian</mat-option>
                    <mat-option [value]=137>Papua New Guinean</mat-option>
                    <mat-option [value]=138>Paraguayan</mat-option>
                    <mat-option [value]=139>Peruvian</mat-option>
                    <mat-option [value]=140>Polish</mat-option>
                    <mat-option [value]=141>Portuguese</mat-option>
                    <mat-option [value]=142>Qatari</mat-option>
                    <mat-option [value]=143>Romanian</mat-option>
                    <mat-option [value]=144>Russian</mat-option>
                    <mat-option [value]=145>Rwandan</mat-option>
                    <mat-option [value]=146>Saint Lucian</mat-option>
                    <mat-option [value]=147>Salvadoran</mat-option>
                    <mat-option [value]=148>Samoan</mat-option>
                    <mat-option [value]=149>San Marinese</mat-option>
                    <mat-option [value]=150>Sao Tomean</mat-option>
                    <mat-option [value]=151>Saudi</mat-option>
                    <mat-option [value]=152>Scottish</mat-option>
                    <mat-option [value]=153>Senegalese</mat-option>
                    <mat-option [value]=154>Serbian</mat-option>
                    <mat-option [value]=155>Seychellois</mat-option>
                    <mat-option [value]=156>Sierra Leonean</mat-option>
                    <mat-option [value]=157>Singaporean</mat-option>
                    <mat-option [value]=158>Slovakian</mat-option>
                    <mat-option [value]=159>Slovenian</mat-option>
                    <mat-option [value]=160>Solomon Islander</mat-option>
                    <mat-option [value]=161>Somali</mat-option>
                    <mat-option [value]=162>South African</mat-option>
                    <mat-option [value]=163>South Korean</mat-option>
                    <mat-option [value]=164>Spanish</mat-option>
                    <mat-option [value]=165>Sri Lankan</mat-option>
                    <mat-option [value]=166>Sudanese</mat-option>
                    <mat-option [value]=167>Surinamer</mat-option>
                    <mat-option [value]=168>Swazi</mat-option>
                    <mat-option [value]=169>Swedish</mat-option>
                    <mat-option [value]=170>Swiss</mat-option>
                    <mat-option [value]=171>Syrian</mat-option>
                    <mat-option [value]=172>Taiwanese</mat-option>
                    <mat-option [value]=173>Tajik</mat-option>
                    <mat-option [value]=174>Tanzanian</mat-option>
                    <mat-option [value]=175>Thai</mat-option>
                    <mat-option [value]=176>Togolese</mat-option>
                    <mat-option [value]=177>Tongan</mat-option>
                    <mat-option [value]=178>Trinidadian or Tobagonian</mat-option>
                    <mat-option [value]=179>Tunisian</mat-option>
                    <mat-option [value]=180>Turkish</mat-option>
                    <mat-option [value]=181>Tuvaluan</mat-option>
                    <mat-option [value]=182>Ugandan</mat-option>
                    <mat-option [value]=183>Ukrainian</mat-option>
                    <mat-option [value]=184>Uruguayan</mat-option>
                    <mat-option [value]=185>Uzbekistani</mat-option>
                    <mat-option [value]=186>Venezuelan</mat-option>
                    <mat-option [value]=187>Vietnamese</mat-option>
                    <mat-option [value]=188>Welsh</mat-option>
                    <mat-option [value]=189>Yemenite</mat-option>
                    <mat-option [value]=190>Zambian</mat-option>
                    <mat-option [value]=191>Zimbabwean</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>PAN No</mat-label>
                  <input matInput placeholder="ABCDE1234F" formControlName="panNo" maxlength="10">
                </mat-form-field>
              </div>
              <div class="personal-section3">
                <mat-form-field class="width100">
                  <mat-label>Middle Name</mat-label>
                  <input matInput placeholder="Ex: Chandra" formControlName="middleName">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Martial Status*</mat-label>
                  <mat-select formControlName="martialStatus">
                    <mat-option *ngFor="let status of martialStatus | async" [value]="status.status">
                      {{status.status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Mobile 2</mat-label>
                  <input matInput placeholder="Ex. 9876543210" formControlName="mobile2" maxlength="10">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Languages Known*</mat-label>
                  <mat-select formControlName="languagesKnown" multiple>
                    <mat-option *ngFor="let language of languages | async" [value]="language.language">
                      {{language.language}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Domicile*</mat-label>
                  <input matInput placeholder="Ex: Andhra Pradesh" formControlName="domicile">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Passport No</mat-label>
                  <input matInput placeholder="Ex : J1234567" formControlName="passportNo" maxlength="8">
                </mat-form-field>
              </div>
            </div>
            <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
              [class.hovering]="isHovering" *ngIf="registerForm.get('registerAs').valid">
              
              <div style="padding-left: 25%;padding-right: 30%;">
                <h3>Upload your ID Proof here</h3>
                <mat-form-field style="width: 150%;">
                  <mat-label>Select an ID proof to upload*</mat-label>
                  <mat-select formControlName="uploadFile" [(value)]="selectedProof">
                    <mat-option *ngFor="let proof of idProofs | async" [value]="proof.type">
                      {{proof.type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>            
              
              <div class="file" *ngIf="registerForm.get('uploadFile').valid">
                <p>Drag and Drop File or ... </p>
                <label class="file-label">
                  <input class="file-input" formControlName="chooseFile" type="file" (change)="onDrop($event.target.files)">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div *ngFor="let file of files">
              <upload-task  (getDocPath)="onDocPath($event)" [file]="file" [documentType]="selectedProof" [collectionPath]="'registerProofs'"></upload-task>
            </div>            
          </ng-template>
        </mat-tab>
        <mat-tab label="Address Details" [disabled]="registerForm.get('personalDetails').invalid">
          <ng-template matTabContent>
            <div formGroupName="address" class="Address-container">
              <div class="card" formGroupName="presentaddress">
                <mat-label>Present Address</mat-label>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Address1*</mat-label>
                  <input formControlName="address1" matInput placeholder="Address1">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Address2*</mat-label>
                  <input formControlName="address2" matInput placeholder="Address2">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Address3/Landmark</mat-label>
                  <input formControlName="landmark" matInput placeholder="Near ABC high school">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Area*</mat-label>
                  <input formControlName="area" matInput placeholder="Gachibowli">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>District*</mat-label>
                  <input formControlName="district" matInput placeholder="Hyderabad">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>State*</mat-label>
                  <input formControlName="state" matInput placeholder="State">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Pincode*</mat-label>
                  <input formControlName="pincode" matInput placeholder="Pincode">
                </mat-form-field>
                <br>
                <div *ngIf="registerForm.get('address').get('presentaddress').valid">
                  <mat-checkbox (change)="CopyAddress()" [formControl]="isSameAddressControl">Copy Permanent address
                    same as Present address </mat-checkbox>
                </div>
              </div>
              <div class="card" formGroupName="permanentaddress">
                <mat-label>Permanent Address</mat-label>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Address1*</mat-label>
                  <input formControlName="address1" matInput placeholder="Address1">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Address2*</mat-label>
                  <input formControlName="address2" matInput placeholder="Address2">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Address3/Landmark</mat-label>
                  <input formControlName="landmark" matInput placeholder="Near ABC high school">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Area*</mat-label>
                  <input formControlName="area" matInput placeholder="Gachibowli">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>District*</mat-label>
                  <input formControlName="district" matInput placeholder="Hyderabad">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>State*</mat-label>
                  <input formControlName="state" matInput placeholder="State">
                </mat-form-field>
                <br>
                <mat-form-field class="width100">
                  <mat-label>Pincode*</mat-label>
                  <input formControlName="pincode" matInput placeholder="Pincode">
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Official Information" [disabled]="registerForm.get('address').invalid">
          <ng-template matTabContent>
            <div formGroupName="officalInfo" class="personal-container">
              <div class="personal-section1">
                <mat-form-field class="width100">
                  <mat-label>Profession*</mat-label>
                  <mat-select formControlName="profession">
                    <mat-option *ngFor="let profession of professions | async" [value]="profession.type">
                      {{profession.type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Company/College Name*</mat-label>
                  <input matInput placeholder="Ex: Facebook, Inc." formControlName="companyName">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Blood Group*</mat-label>
                  <mat-select formControlName="bloodGroup">
                    <mat-option *ngFor="let bloodGroup of bloodGroups | async" [value]="bloodGroup.type">
                      {{bloodGroup.type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Emergency Contact Phone1*</mat-label>
                  <input matInput placeholder="Ex: 9876543210" formControlName="emergencyPhone">
                </mat-form-field>
              </div>
              <div class="personal-section2">
                <mat-form-field class="width100">
                  <mat-label>Educational Qualification*</mat-label>
                  <mat-select formControlName="qualification">
                    <mat-option *ngFor="let qualification of educationalQualifications | async"
                      [value]="qualification.degree">
                      {{qualification.degree}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Company/College Location*</mat-label>
                  <input matInput placeholder="Ex: Financial District, Hyderabad." formControlName="companyLocation">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Emergency Contact Name*</mat-label>
                  <input matInput placeholder="Ex: Remo D'souza" formControlName="emergencyName">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Emergency Contact Phone2</mat-label>
                  <input matInput placeholder="Ex: 9876543210" formControlName="emergencyPhone2">
                </mat-form-field>
              </div>
              <div class="personal-section3">
                <mat-form-field class="width100">
                  <mat-label>Vehicle No(if any)</mat-label>
                  <input matInput placeholder="Ex: TS 01 AB 1234" formControlName="vehicleNo">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Company Email(for employees only)</mat-label>
                  <input matInput placeholder="Ex: markzukerberg@facebook.com" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="width100">
                  <mat-label>Relationship with Contact*</mat-label>
                  <mat-select formControlName="emergencyRelation">
                    <mat-option *ngFor="let humanRelation of humanRelations | async" [value]="humanRelation.relation">
                      {{humanRelation.relation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="register-button">
            <button mat-raised-button color="primary" (click)="Register()" [disabled]="registerForm.invalid">Register</button>
          </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>