.register-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .register-form {
    grid-column: span 12;
  }

  .personal-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(12, 1fr);
    padding:10px;
  }
  .personal-section1, .personal-section2, .personal-section3  {
    grid-column: span 4;
  }

  @media (max-width: 700px) {
    .personal-section1, .personal-section2, .personal-section3  {
      grid-column: span 12;
    }
  }